
html {
    --title_family: 'Londrina Outline', cursive;
    --title_color: #2db300;
    --background_pane: black;
    --opacity_pane: .75;
    --content_color: white;
}

body {
    font-size: 16px;
    height: 100%;
}

.background {
    background-image: url("../images/Surgical_Suite.jpg");
    background-size: cover;
    padding: 5% 15% 9%;
}

.content_title {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--background_pane);
    opacity: var(--opacity_pane);
    padding: 2% 0%;
    margin-bottom: 1%;
    justify-items: center;
    align-items: center;
}

.ekg_image {
    width: 95%;
    height: auto;
}

.game_title {
    font-size: 3rem;
    font-family: var(--title_family);
    color: var(--title_color);
    font-weight: bold;
}

.statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    font-size: 2rem;
    color: var(--content_color);
}

.patient_status, .remaining_guesses {
    background-color: var(--background_pane);
    opacity: var(--opacity_pane);
    padding: 5%;
    margin-bottom: 1.5%;
}

.word_action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    color: var(--content_color);
    text-align: center;
}

#word, #guessedLetters {
    background-color: var(--background_pane);
    opacity: var(--opacity_pane);
    padding: 10%;
}

#word {
    display: inline;
}

#start {
    margin-top: 5%;
    
}

.word_class {
    display: inline;
    font-size: 3rem;
}
